.header {
    font-weight: 700;
    font-size: 45px;
    display: block;
    margin: auto;
}

@media (max-width: 767px) {
    .header {
        font-weight: 700;
        font-size: 25px;
        display: block;
        margin: auto;
    }
}