html {
  box-sizing: border-box;
  background-color: #dadada;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
  background-color: #dadada;
  justify-content: center;
}