.taskList__button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: teal;
    margin: 0 10px 0 10px;
    transition: color 0.5s;
}

@media (max-width: 767px) {
    .taskList__button {
        margin: 5px 20px 0 0;
    }
}

.taskList__button:hover {
    color: rgba(0, 128, 128, 0.822);
}

.taskList__button:disabled {
    color: rgb(204, 204, 204);
}

.taskList__buttons {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .taskList__buttons {
        flex-basis: auto;
        margin: 10px;
        justify-content: center;
    }
}